@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ******************** */
/* VARIABLES */
/* ******************** */

:root{
  --Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
  --Light-Grayish-Cyan: hsl(180, 52%, 96%);
  --Light-Grayish-Cyan: hsl(180, 31%, 95%);
  --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
  --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
  --Transition: 0.5s all ;
}

/* ******************** */
/* RESET */
/* ******************** */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img,
picture,
canvas,
video,
svg {
    block-size: auto;
    max-inline-size: 100%;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: 'League Spartan','sans serif';
  font-size: 15px;
}

