@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ******************** */
/* VARIABLES */
/* ******************** */

:root{
  --Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
  --Light-Grayish-Cyan: hsl(180, 52%, 96%);
  --Light-Grayish-Cyan: hsl(180, 31%, 95%);
  --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
  --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
  --Transition: 0.5s all ;
}

/* ******************** */
/* RESET */
/* ******************** */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img,
picture,
canvas,
video,
svg {
    block-size: auto;
    max-inline-size: 100%;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: 'League Spartan','sans serif';
  font-size: 15px;
}

.nav{
  background-image: url('/images/bg-header-mobile.svg');
  background-color: var(--Desaturated-Dark-Cyan);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 20vh;
}

@media (min-width: 1024px) {
  .nav{
    background-image: url('/images/bg-header-desktop.svg');
  }
}

.jobs {
  background-color:var(--Light-Grayish-Cyan);
  padding: 2.5rem 0.8rem;
}
.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 2rem 0;
  padding: 0 2rem;
}

.card--wrapper {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;
}

.card--content {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;
}

.card--img img{
  width: 50px;
  margin-top: -18px;
}

.card--company{
  color:var(--Desaturated-Dark-Cyan);
  font-weight: 700;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.card--company-feat{
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: white;
}

.new{
  background-color: var(--Desaturated-Dark-Cyan);
  padding: 0.25rem 0.6rem;
  border-radius: 50px;
  letter-spacing: 1px;
  font-size: 12px;
}

.featured{
  background-color: var(--Very-Dark-Grayish-Cyan);
  padding: 0.25rem 0.6rem;
  border-radius: 50px;
  letter-spacing: 1px;
  font-size: 12px;
}

.card--border{
  border-left: 5px;
  border-color: var(--Desaturated-Dark-Cyan);
  border-style: solid;
}

.card--position{
  color:var(--Very-Dark-Grayish-Cyan);
  font-weight: 700;
}

.card--items {
  color:var(--Dark-Grayish-Cyan);
  word-spacing: 3px;
}

hr {
  margin: 12px 0;
}

.card--filter {
  padding: 12px 0px;
  color: var(--Desaturated-Dark-Cyan);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 20px;
}

.card--filter span {
  background-color: var(--Light-Grayish-Cyan);
  padding: 0.4rem;
  border-radius: 5px;

}

@media (min-width: 1024px) {
  .card {
    flex-direction: row;
    margin: 2rem 6rem;
    padding: 0 1.7rem;
    justify-content: space-between;
  }

  .card--wrapper {
    flex-direction: row;
    align-items: center;
    padding: 20px;
    column-gap: 20px;
  }

  .card--img img{
    width: 100%;
    margin-top: 0;
  }

  hr{
    display: none;
  }
}